@layer mantine;

@layer tailwind {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
